In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file = '/Users/zachtsouprakos/documents/msds/msds-422/module_1/Insurance.csv'
df = pd.read_csv(file)

In [3]:
df.head()

,TARGET_CLM_FLAG,TARGET_CLM_AMT,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,TIF,NPOLICY,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CAR_AGE,URBANICITY
0,0,NaN,0,51.0,0,12.0,85076.0,No,249276.0,Yes,...,4,2,Sports Car,no,0,0,Yes,1,8.0,Highly Urban/ Urban
1,1,6872.0,0,37.0,0,10.0,55076.0,No,245993.0,Yes,...,4,2,Van,no,0,0,No,1,1.0,Highly Urban/ Urban
2,1,6716.0,3,36.0,4,0.0,NaN,No,0.0,Yes,...,4,2,SUV,no,0,0,No,5,10.0,Highly Urban/ Urban
3,0,NaN,0,52.0,0,12.0,68564.0,No,274122.0,Yes,...,4,1,Pickup,yes,0,0,No,2,11.0,Highly Rural/ Rural
4,1,5970.0,0,33.0,4,14.0,30504.0,Yes,0.0,No,...,6,2,Pickup,no,0,0,No,0,NaN,Highly Urban/ Urban

In [4]:
TARGET_F = 'TARGET_CLM_FLAG'
TARGET_A = 'TARGET_CLM_AMT'

dt = df.dtypes
objList = []
for i in dt.index:
    if i in ([TARGET_F, TARGET_A]) : continue
    if dt[i] in (['object']) : objList.append(i)

In [5]:
#print unique values
for i in objList:
    print(i)
    print(df[i].unique())

PARENT1
['No' 'Yes']
MSTATUS
['Yes' 'No']
SEX
['F' 'M']
EDUCATION
['c_Bachelors' 'd_High School' 'e_No_High School' 'b_Masters' 'a_PhD']
JOB
['Manager' 'Clerical' 'Student' 'Blue Collar' 'Professional' 'Lawyer'
 'Doctor' 'Home Maker' nan]
CAR_USE
['Private' 'Commercial']
CAR_TYPE
['Sports Car' 'Van' 'SUV' 'Pickup' 'Panel Truck' 'Minivan']
RED_CAR
['no' 'yes']
REVOKED
['Yes' 'No']
URBANICITY
['Highly Urban/ Urban' 'Highly Rural/ Rural']

In [6]:
# print most common

for i in objList:
    g = df.groupby(i)
    print(g[i].count())
    print( "MOST COMMON = ", df[i].mode()[0] )
    print( "MISSING = ", df[i].isna().sum() )

PARENT1
No     8959
Yes    1343
Name: PARENT1, dtype: int64
MOST COMMON =  No
MISSING =  0
MSTATUS
No     4114
Yes    6188
Name: MSTATUS, dtype: int64
MOST COMMON =  Yes
MISSING =  0
SEX
F    5545
M    4757
Name: SEX, dtype: int64
MOST COMMON =  F
MISSING =  0
EDUCATION
a_PhD                934
b_Masters           2078
c_Bachelors         2823
d_High School       2952
e_No_High School    1515
Name: EDUCATION, dtype: int64
MOST COMMON =  d_High School
MISSING =  0
JOB
Blue Collar     2288
Clerical        1590
Doctor           321
Home Maker       843
Lawyer          1031
Manager         1257
Professional    1408
Student          899
Name: JOB, dtype: int64
MOST COMMON =  Blue Collar
MISSING =  665
CAR_USE
Commercial    3789
Private       6513
Name: CAR_USE, dtype: int64
MOST COMMON =  Private
MISSING =  0
CAR_TYPE
Minivan        2694
Panel Truck     853
Pickup         1772
SUV            2883
Sports Car     1179
Van             921
Name: CAR_TYPE, dtype: int64
MOST COMMON =  SUV
MISSING =  0
RED_CAR
no     7326
yes    2976
Name: RED_CAR, dtype: int64
MOST COMMON =  no
MISSING =  0
REVOKED
No     9041
Yes    1261
Name: REVOKED, dtype: int64
MOST COMMON =  No
MISSING =  0
URBANICITY
Highly Rural/ Rural    2072
Highly Urban/ Urban    8230
Name: URBANICITY, dtype: int64
MOST COMMON =  Highly Urban/ Urban
MISSING =  0

In [7]:
# fill missing values with mode (most common)
for i in objList :
    if df[i].isna().sum() == 0 : continue
    print( i ) 
    print("HAS MISSING")
    NAME = "IMP_"+i
    print( NAME ) 
    df[NAME] = df[i]
    df[NAME] = df[NAME].fillna("MISSING")
    print( "variable",i," has this many missing", df[i].isna().sum() )
    print( "variable",NAME," has this many missing", df[NAME].isna().sum() )
    g = df.groupby( NAME )
    print( g[NAME].count() )
    print( "\n\n")
    df = df.drop( i, axis=1 )

JOB
HAS MISSING
IMP_JOB
variable JOB  has this many missing 665
variable IMP_JOB  has this many missing 0
IMP_JOB
Blue Collar     2288
Clerical        1590
Doctor           321
Home Maker       843
Lawyer          1031
MISSING          665
Manager         1257
Professional    1408
Student          899
Name: IMP_JOB, dtype: int64

In [8]:
df.head().T

,0,1,2,3,4
TARGET_CLM_FLAG,0,1,1,0,1
TARGET_CLM_AMT,NaN,6872,6716,NaN,5970
KIDSDRIV,0,0,3,0,0
AGE,51,37,36,52,33
HOMEKIDS,0,0,4,0,4
YOJ,12,10,0,12,14
INCOME,85076,55076,NaN,68564,30504
PARENT1,No,No,No,No,Yes
HOME_VAL,249276,245993,0,274122,0
MSTATUS,Yes,Yes,Yes,Yes,No
SEX,F,M,F,M,M
EDUCATION,c_Bachelors,d_High School,d_High School,d_High School,e_No_High School
TRAVTIME,25,23,54,44,33
CAR_USE,Private,Private,Private,Commercial,Private
BLUEBOOK,25860,16400,1500,10950,7850
TIF,4,4,4,4,6
NPOLICY,2,2,2,1,2
CAR_TYPE,Sports Car,Van,SUV,Pickup,Pickup
RED_CAR,no,no,no,yes,no
OLDCLAIM,0,0,0,0,0
CLM_FREQ,0,0,0,0,0
REVOKED,Yes,No,No,No,No
MVR_PTS,1,1,5,2,0
CAR_AGE,8,1,10,11,NaN
URBANICITY,Highly Urban/ Urban,Highly Urban/ Urban,Highly Urban/ Urban,Highly Rural/ Rural,Highly Urban/ Urban
IMP_JOB,Manager,Clerical,Student,Blue Collar,Clerical

In [9]:
dt = df.dtypes
objList = []
for i in dt.index :
    #print(" here is i .....", i , " ..... and here is the type", dt[i] )
    if i in ( [ TARGET_F, TARGET_A ] ) : continue
    if dt[i] in (["object"]) : objList.append( i )
objList

['PARENT1',
 'MSTATUS',
 'SEX',
 'EDUCATION',
 'CAR_USE',
 'CAR_TYPE',
 'RED_CAR',
 'REVOKED',
 'URBANICITY',
 'IMP_JOB']

In [11]:
for i in objList :
    print(" Class = ", i )
    print( df[i].unique() )
    g = df.groupby( i )
    x = g[ TARGET_F ].mean()
    print( "Crash Prob", x )
    print( " ................. ")
    x = g[ TARGET_A ].mean()
    #x = g[ TARGET_A ].median()
    print( "Damage Amount", x )
    print(" ===============\n\n\n ")

 Class =  PARENT1
['No' 'Yes']
Crash Prob PARENT1
No     0.239424
Yes    0.447506
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount PARENT1
No     5576.806527
Yes    6001.359401
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  MSTATUS
['Yes' 'No']
Crash Prob MSTATUS
No     0.336898
Yes    0.219780
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount MSTATUS
No     5928.080087
Yes    5406.432353
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  SEX
['F' 'M']
Crash Prob SEX
F    0.275564
M    0.256044
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount SEX
F    5430.478403
M    5969.865353
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  EDUCATION
['c_Bachelors' 'd_High School' 'e_No_High School' 'b_Masters' 'a_PhD']
Crash Prob EDUCATION
a_PhD               0.164882
b_Masters           0.194418
c_Bachelors         0.238399
d_High School       0.346545
e_No_High School    0.324752
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount EDUCATION
a_PhD               6413.441558
b_Masters           5738.131188
c_Bachelors         5965.903418
d_High School       5315.484848
e_No_High School    5712.191057
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  CAR_USE
['Private' 'Commercial']
Crash Prob CAR_USE
Commercial    0.345738
Private       0.220482
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount CAR_USE
Commercial    6085.095420
Private       5290.802228
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  CAR_TYPE
['Sports Car' 'Van' 'SUV' 'Pickup' 'Panel Truck' 'Minivan']
Crash Prob CAR_TYPE
Minivan        0.172606
Panel Truck    0.263775
Pickup         0.313205
SUV            0.291710
Sports Car     0.346056
Van            0.273616
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount CAR_TYPE
Minivan        5434.137634
Panel Truck    7243.502222
Pickup         5588.524324
SUV            5396.087990
Sports Car     5172.963235
Van            6595.615079
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  RED_CAR
['no' 'yes']
Crash Prob RED_CAR
no     0.268632
yes    0.261425
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount RED_CAR
no     5580.671240
yes    5894.994859
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  REVOKED
['Yes' 'No']
Crash Prob REVOKED
No     0.240792
Yes    0.451229
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount REVOKED
No     5745.056040
Yes    5381.511424
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  URBANICITY
['Highly Urban/ Urban' 'Highly Rural/ Rural']
Crash Prob URBANICITY
Highly Rural/ Rural    0.064672
Highly Urban/ Urban    0.317375
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount URBANICITY
Highly Rural/ Rural    5671.955224
Highly Urban/ Urban    5669.611409
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  IMP_JOB
['Manager' 'Clerical' 'Student' 'Blue Collar' 'Professional' 'Lawyer'
 'Doctor' 'Home Maker' 'MISSING']
Crash Prob IMP_JOB
Blue Collar     0.350962
Clerical        0.302516
Doctor          0.115265
Home Maker      0.271649
Lawyer          0.180407
MISSING         0.261654
Manager         0.135243
Professional    0.230824
Student         0.379310
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount IMP_JOB
Blue Collar     5918.647572
Clerical        5345.862786
Doctor          4985.486486
Home Maker      4996.689956
Lawyer          5681.435484
MISSING         6537.557471
Manager         5011.876471
Professional    6471.055385
Student         5181.624633
Name: TARGET_CLM_AMT, dtype: float64
 ===============

In [76]:
'''
EXPLORE THE CATEGORICAL / OBJECT VARIABLES
'''
print( df["EDUCATION"].unique() )

df["y_EDU_4"] = (df.EDUCATION.isin( ["a_PhD"] ) + 0 )#If education is in the list, then true else false (true + 0 = 1)
df["y_EDU_3"] = (df.EDUCATION.isin( ["a_PhD","b_Masters"] ) + 0)
df["y_EDU_2"] = (df.EDUCATION.isin( ["a_PhD","b_Masters","c_Bachelors"] ) + 0)
df["y_EDU_1"] = (df.EDUCATION.isin( ["a_PhD","b_Masters","c_Bachelors","d_High School"] ) + 0)
df = df.drop( "EDUCATION", axis=1 ) #Drop old education column axis = 1 means column
df.head().T

KeyError: 'EDUCATION'

In [77]:
for i in ["y_EDU_4","y_EDU_3","y_EDU_2","y_EDU_1"] :
    print(" Class = ", i )
    g = df.groupby( i )
    x = g[ TARGET_F ].mean()
    print( "Crash Prob", x )
    print( " ................. ")
    x = g[ TARGET_A ].mean()
    #x = g[ TARGET_A ].median()
    print( "Damage Amount", x )
    print(" ===============\n\n\n ")

 Class =  y_EDU_4
Crash Prob y_EDU_4
0    0.276687
1    0.164882
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount y_EDU_4
0    5625.538966
1    6413.441558
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  y_EDU_3
Crash Prob y_EDU_3
0    0.300137
1    0.185259
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount y_EDU_3
0    5604.749543
1    5924.507168
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  y_EDU_2
Crash Prob y_EDU_2
0    0.339154
1    0.210968
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount y_EDU_2
0    5444.316172
1    5947.138911
Name: TARGET_CLM_AMT, dtype: float64
 ===============



 Class =  y_EDU_1
Crash Prob y_EDU_1
0    0.324752
1    0.256515
Name: TARGET_CLM_FLAG, dtype: float64
 .................
Damage Amount y_EDU_1
0    5712.191057
1    5660.456522
Name: TARGET_CLM_AMT, dtype: float64
 ===============

In [80]:
# update objects list
dt = df.dtypes
objList = []
for i in dt.index :
    #print(" here is i .....", i , " ..... and here is the type", dt[i] )
    if i in ( [ TARGET_F, TARGET_A ] ) : continue
    if dt[i] in (["object"]) : objList.append( i )

In [81]:
objList

['PARENT1',
 'MSTATUS',
 'SEX',
 'CAR_USE',
 'CAR_TYPE',
 'RED_CAR',
 'REVOKED',
 'URBANICITY',
 'IMP_JOB']

In [85]:
for i in objList :
    print(" Class = ", i )
    thePrefix = "z_" + i
    print( thePrefix )
    y = pd.get_dummies( df[i], prefix=thePrefix, dummy_na=False )   
    print( type(y) )
    print( y.head().T )
    df = pd.concat( [df, y], axis=1 )
    df = df.drop( i, axis=1 )
    print( df.head().T )

 Class =  PARENT1
z_PARENT1
<class 'pandas.core.frame.DataFrame'>
               0  1  2  3  4
z_PARENT1_No   1  1  1  1  0
z_PARENT1_Yes  0  0  0  0  1
                                   0                    1  \
TARGET_CLM_FLAG                    0                    1
TARGET_CLM_AMT                   NaN                 6872
KIDSDRIV                           0                    0
AGE                               51                   37
HOMEKIDS                           0                    0
YOJ                               12                   10
INCOME                         85076                55076
HOME_VAL                      249276               245993
MSTATUS                          Yes                  Yes
SEX                                F                    M
TRAVTIME                          25                   23
CAR_USE                      Private              Private
BLUEBOOK                       25860                16400
TIF                                4                    4
NPOLICY                            2                    2
CAR_TYPE                  Sports Car                  Van
RED_CAR                           no                   no
OLDCLAIM                           0                    0
CLM_FREQ                           0                    0
REVOKED                          Yes                   No
MVR_PTS                            1                    1
CAR_AGE                            8                    1
URBANICITY       Highly Urban/ Urban  Highly Urban/ Urban
IMP_JOB                      Manager             Clerical
y_EDU_4                            0                    0
y_EDU_3                            0                    0
y_EDU_2                            1                    0
y_EDU_1                            1                    1
z_PARENT1_No                       1                    1
z_PARENT1_Yes                      0                    0

                                   2                    3                    4
TARGET_CLM_FLAG                    1                    0                    1
TARGET_CLM_AMT                  6716                  NaN                 5970
KIDSDRIV                           3                    0                    0
AGE                               36                   52                   33
HOMEKIDS                           4                    0                    4
YOJ                                0                   12                   14
INCOME                           NaN                68564                30504
HOME_VAL                           0               274122                    0
MSTATUS                          Yes                  Yes                   No
SEX                                F                    M                    M
TRAVTIME                          54                   44                   33
CAR_USE                      Private           Commercial              Private
BLUEBOOK                        1500                10950                 7850
TIF                                4                    4                    6
NPOLICY                            2                    1                    2
CAR_TYPE                         SUV               Pickup               Pickup
RED_CAR                           no                  yes                   no
OLDCLAIM                           0                    0                    0
CLM_FREQ                           0                    0                    0
REVOKED                           No                   No                   No
MVR_PTS                            5                    2                    0
CAR_AGE                           10                   11                  NaN
URBANICITY       Highly Urban/ Urban  Highly Rural/ Rural  Highly Urban/ Urban
IMP_JOB                      Student          Blue Collar             Clerical
y_EDU_4                            0                    0                    0
y_EDU_3                            0                    0                    0
y_EDU_2                            0                    0                    0
y_EDU_1                            1                    1                    0
z_PARENT1_No                       1                    1                    0
z_PARENT1_Yes                      0                    0                    1
 Class =  MSTATUS
z_MSTATUS
<class 'pandas.core.frame.DataFrame'>
               0  1  2  3  4
z_MSTATUS_No   0  0  0  0  1
z_MSTATUS_Yes  1  1  1  1  0
                                   0                    1  \
TARGET_CLM_FLAG                    0                    1
TARGET_CLM_AMT                   NaN                 6872
KIDSDRIV                           0                    0
AGE                               51                   37
HOMEKIDS                           0                    0
YOJ                               12                   10
INCOME                         85076                55076
HOME_VAL                      249276               245993
SEX                                F                    M
TRAVTIME                          25                   23
CAR_USE                      Private              Private
BLUEBOOK                       25860                16400
TIF                                4                    4
NPOLICY                            2                    2
CAR_TYPE                  Sports Car                  Van
RED_CAR                           no                   no
OLDCLAIM                           0                    0
CLM_FREQ                           0                    0
REVOKED                          Yes                   No
MVR_PTS                            1                    1
CAR_AGE                            8                    1
URBANICITY       Highly Urban/ Urban  Highly Urban/ Urban
IMP_JOB                      Manager             Clerical
y_EDU_4                            0                    0
y_EDU_3                            0                    0
y_EDU_2                            1                    0
y_EDU_1                            1                    1
z_PARENT1_No                       1                    1
z_PARENT1_Yes                      0                    0
z_MSTATUS_No                       0                    0
z_MSTATUS_Yes                      1                    1

                                   2                    3                    4
TARGET_CLM_FLAG                    1                    0                    1
TARGET_CLM_AMT                  6716                  NaN                 5970
KIDSDRIV                           3                    0                    0
AGE                               36                   52                   33
HOMEKIDS                           4                    0                    4
YOJ                                0                   12                   14
INCOME                           NaN                68564                30504
HOME_VAL                           0               274122                    0
SEX                                F                    M                    M
TRAVTIME                          54                   44                   33
CAR_USE                      Private           Commercial              Private
BLUEBOOK                        1500                10950                 7850
TIF                                4                    4                    6
NPOLICY                            2                    1                    2
CAR_TYPE                         SUV               Pickup               Pickup
RED_CAR                           no                  yes                   no
OLDCLAIM                           0                    0                    0
CLM_FREQ                           0                    0                    0
REVOKED                           No                   No                   No
MVR_PTS                            5                    2                    0
CAR_AGE                           10                   11                  NaN
URBANICITY       Highly Urban/ Urban  Highly Rural/ Rural  Highly Urban/ Urban
IMP_JOB                      Student          Blue Collar             Clerical
y_EDU_4                            0                    0                    0
y_EDU_3                            0                    0                    0
y_EDU_2                            0                    0                    0
y_EDU_1                            1                    1                    0
z_PARENT1_No                       1                    1                    0
z_PARENT1_Yes                      0                    0                    1
z_MSTATUS_No                       0                    0                    1
z_MSTATUS_Yes                      1                    1                    0
 Class =  SEX
z_SEX
<class 'pandas.core.frame.DataFrame'>
         0  1  2  3  4
z_SEX_F  1  0  1  0  0
z_SEX_M  0  1  0  1  1
                                   0                    1  \
TARGET_CLM_FLAG                    0                    1
TARGET_CLM_AMT                   NaN                 6872
KIDSDRIV                           0                    0
AGE                               51                   37
HOMEKIDS                           0                    0
YOJ                               12                   10
INCOME                         85076                55076
HOME_VAL                      249276               245993
TRAVTIME                          25                   23
CAR_USE                      Private              Private
BLUEBOOK                       25860                16400
TIF                                4                    4
NPOLICY                            2                    2
CAR_TYPE                  Sports Car                  Van
RED_CAR                           no                   no
OLDCLAIM                           0                    0
CLM_FREQ                           0                    0
REVOKED                          Yes                   No
MVR_PTS                            1                    1
CAR_AGE                            8                    1
URBANICITY       Highly Urban/ Urban  Highly Urban/ Urban
IMP_JOB                      Manager             Clerical
y_EDU_4                            0                    0
y_EDU_3                            0                    0
y_EDU_2                            1                    0
y_EDU_1                            1                    1
z_PARENT1_No                       1                    1
z_PARENT1_Yes                      0                    0
z_MSTATUS_No                       0                    0
z_MSTATUS_Yes                      1                    1
z_SEX_F                            1                    0
z_SEX_M                            0                    1

                                   2                    3                    4
TARGET_CLM_FLAG                    1                    0                    1
TARGET_CLM_AMT                  6716                  NaN                 5970
KIDSDRIV                           3                    0                    0
AGE                               36                   52                   33
HOMEKIDS                           4                    0                    4
YOJ                                0                   12                   14
INCOME                           NaN                68564                30504
HOME_VAL                           0               274122                    0
TRAVTIME                          54                   44                   33
CAR_USE                      Private           Commercial              Private
BLUEBOOK                        1500                10950                 7850
TIF                                4                    4                    6
NPOLICY                            2                    1                    2
CAR_TYPE                         SUV               Pickup               Pickup
RED_CAR                           no                  yes                   no
OLDCLAIM                           0                    0                    0
CLM_FREQ                           0                    0                    0
REVOKED                           No                   No                   No
MVR_PTS                            5                    2                    0
CAR_AGE                           10                   11                  NaN
URBANICITY       Highly Urban/ Urban  Highly Rural/ Rural  Highly Urban/ Urban
IMP_JOB                      Student          Blue Collar             Clerical
y_EDU_4                            0                    0                    0
y_EDU_3                            0                    0                    0
y_EDU_2                            0                    0                    0
y_EDU_1                            1                    1                    0
z_PARENT1_No                       1                    1                    0
z_PARENT1_Yes                      0                    0                    1
z_MSTATUS_No                       0                    0                    1
z_MSTATUS_Yes                      1                    1                    0
z_SEX_F                            1                    0                    0
z_SEX_M                            0                    1                    1
 Class =  CAR_USE
z_CAR_USE
<class 'pandas.core.frame.DataFrame'>
                      0  1  2  3  4
z_CAR_USE_Commercial  0  0  0  1  0
z_CAR_USE_Private     1  1  1  0  1
                                        0                    1  \
TARGET_CLM_FLAG                         0                    1
TARGET_CLM_AMT                        NaN                 6872
KIDSDRIV                                0                    0
AGE                                    51                   37
HOMEKIDS                                0                    0
YOJ                                    12                   10
INCOME                              85076                55076
HOME_VAL                           249276               245993
TRAVTIME                               25                   23
BLUEBOOK                            25860                16400
TIF                                     4                    4
NPOLICY                                 2                    2
CAR_TYPE                       Sports Car                  Van
RED_CAR                                no                   no
OLDCLAIM                                0                    0
CLM_FREQ                                0                    0
REVOKED                               Yes                   No
MVR_PTS                                 1                    1
CAR_AGE                                 8                    1
URBANICITY            Highly Urban/ Urban  Highly Urban/ Urban
IMP_JOB                           Manager             Clerical
y_EDU_4                                 0                    0
y_EDU_3                                 0                    0
y_EDU_2                                 1                    0
y_EDU_1                                 1                    1
z_PARENT1_No                            1                    1
z_PARENT1_Yes                           0                    0
z_MSTATUS_No                            0                    0
z_MSTATUS_Yes                           1                    1
z_SEX_F                                 1                    0
z_SEX_M                                 0                    1
z_CAR_USE_Commercial                    0                    0
z_CAR_USE_Private                       1                    1

                                        2                    3  \
TARGET_CLM_FLAG                         1                    0
TARGET_CLM_AMT                       6716                  NaN
KIDSDRIV                                3                    0
AGE                                    36                   52
HOMEKIDS                                4                    0
YOJ                                     0                   12
INCOME                                NaN                68564
HOME_VAL                                0               274122
TRAVTIME                               54                   44
BLUEBOOK                             1500                10950
TIF                                     4                    4
NPOLICY                                 2                    1
CAR_TYPE                              SUV               Pickup
RED_CAR                                no                  yes
OLDCLAIM                                0                    0
CLM_FREQ                                0                    0
REVOKED                                No                   No
MVR_PTS                                 5                    2
CAR_AGE                                10                   11
URBANICITY            Highly Urban/ Urban  Highly Rural/ Rural
IMP_JOB                           Student          Blue Collar
y_EDU_4                                 0                    0
y_EDU_3                                 0                    0
y_EDU_2                                 0                    0
y_EDU_1                                 1                    1
z_PARENT1_No                            1                    1
z_PARENT1_Yes                           0                    0
z_MSTATUS_No                            0                    0
z_MSTATUS_Yes                           1                    1
z_SEX_F                                 1                    0
z_SEX_M                                 0                    1
z_CAR_USE_Commercial                    0                    1
z_CAR_USE_Private                       1                    0

                                        4
TARGET_CLM_FLAG                         1
TARGET_CLM_AMT                       5970
KIDSDRIV                                0
AGE                                    33
HOMEKIDS                                4
YOJ                                    14
INCOME                              30504
HOME_VAL                                0
TRAVTIME                               33
BLUEBOOK                             7850
TIF                                     6
NPOLICY                                 2
CAR_TYPE                           Pickup
RED_CAR                                no
OLDCLAIM                                0
CLM_FREQ                                0
REVOKED                                No
MVR_PTS                                 0
CAR_AGE                               NaN
URBANICITY            Highly Urban/ Urban
IMP_JOB                          Clerical
y_EDU_4                                 0
y_EDU_3                                 0
y_EDU_2                                 0
y_EDU_1                                 0
z_PARENT1_No                            0
z_PARENT1_Yes                           1
z_MSTATUS_No                            1
z_MSTATUS_Yes                           0
z_SEX_F                                 0
z_SEX_M                                 1
z_CAR_USE_Commercial                    0
z_CAR_USE_Private                       1
 Class =  CAR_TYPE
z_CAR_TYPE
<class 'pandas.core.frame.DataFrame'>
                        0  1  2  3  4
z_CAR_TYPE_Minivan      0  0  0  0  0
z_CAR_TYPE_Panel Truck  0  0  0  0  0
z_CAR_TYPE_Pickup       0  0  0  1  1
z_CAR_TYPE_SUV          0  0  1  0  0
z_CAR_TYPE_Sports Car   1  0  0  0  0
z_CAR_TYPE_Van          0  1  0  0  0
                                          0                    1  \
TARGET_CLM_FLAG                           0                    1

In [86]:
df.head().T

,0,1,2,3,4
TARGET_CLM_FLAG,0.0,1.0,1.0,0.0,1.0
TARGET_CLM_AMT,NaN,6872.0,6716.0,NaN,5970.0
KIDSDRIV,0.0,0.0,3.0,0.0,0.0
AGE,51.0,37.0,36.0,52.0,33.0
HOMEKIDS,0.0,0.0,4.0,0.0,4.0
YOJ,12.0,10.0,0.0,12.0,14.0
INCOME,85076.0,55076.0,NaN,68564.0,30504.0
HOME_VAL,249276.0,245993.0,0.0,274122.0,0.0
TRAVTIME,25.0,23.0,54.0,44.0,33.0
BLUEBOOK,25860.0,16400.0,1500.0,10950.0,7850.0
TIF,4.0,4.0,4.0,4.0,6.0
NPOLICY,2.0,2.0,2.0,1.0,2.0
OLDCLAIM,0.0,0.0,0.0,0.0,0.0
CLM_FREQ,0.0,0.0,0.0,0.0,0.0
MVR_PTS,1.0,1.0,5.0,2.0,0.0
CAR_AGE,8.0,1.0,10.0,11.0,NaN
y_EDU_4,0.0,0.0,0.0,0.0,0.0
y_EDU_3,0.0,0.0,0.0,0.0,0.0
y_EDU_2,1.0,0.0,0.0,0.0,0.0
y_EDU_1,1.0,1.0,1.0,1.0,0.0
z_PARENT1_No,1.0,1.0,1.0,1.0,0.0
z_PARENT1_Yes,0.0,0.0,0.0,0.0,1.0
z_MSTATUS_No,0.0,0.0,0.0,0.0,1.0
z_MSTATUS_Yes,1.0,1.0,1.0,1.0,0.0
z_SEX_F,1.0,0.0,1.0,0.0,0.0
z_SEX_M,0.0,1.0,0.0,1.0,1.0
z_CAR_USE_Commercial,0.0,0.0,0.0,1.0,0.0
z_CAR_USE_Private,1.0,1.0,1.0,0.0,1.0
z_CAR_TYPE_Minivan,0.0,0.0,0.0,0.0,0.0
z_CAR_TYPE_Panel Truck,0.0,0.0,0.0,0.0,0.0
z_CAR_TYPE_Pickup,0.0,0.0,0.0,1.0,1.0
z_CAR_TYPE_SUV,0.0,0.0,1.0,0.0,0.0
z_CAR_TYPE_Sports Car,1.0,0.0,0.0,0.0,0.0
z_CAR_TYPE_Van,0.0,1.0,0.0,0.0,0.0
z_RED_CAR_no,1.0,1.0,1.0,0.0,1.0
z_RED_CAR_yes,0.0,0.0,0.0,1.0,0.0
z_REVOKED_No,0.0,1.0,1.0,1.0,1.0
z_REVOKED_Yes,1.0,0.0,0.0,0.0,0.0
z_URBANICITY_Highly Rural/ Rural,0.0,0.0,0.0,1.0,0.0
z_URBANICITY_Highly Urban/ Urban,1.0,1.0,1.0,0.0,1.0
z_IMP_JOB_Blue Collar,0.0,0.0,0.0,1.0,0.0
z_IMP_JOB_Clerical,0.0,1.0,0.0,0.0,1.0
z_IMP_JOB_Doctor,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Home Maker,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Lawyer,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_MISSING,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Manager,1.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Professional,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Student,0.0,0.0,1.0,0.0,0.0